.logo {
  font-family: "Courier Prime", serif;
  margin: 0;
  padding-bottom: 1rem;
  font-size: 2rem;
  color: black;
}

header a {
  color: black;
  font-weight: normal;
  transition: font-weight 0.3s ease;
  -webkit-transition: font-weight 0.3s ease;
  -moz-transition: font-weight 0.3s ease;
  -ms-transition: font-weight 0.3s ease;
  -o-transition: font-weight 0.3s ease;
}

header a.active {
  font-weight: bold;
  text-decoration: underline;
}

/* Form */


.button {
  cursor: pointer;
  font-weight: 500;

  width: clamp(100px, 25%, 200px);
}


.splitFlexContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap; 
  padding-bottom: 2em;
}

.left {
  flex: 1;
  margin-right: 2em;
}

.left p {
  margin-top: 0;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


@media screen and (min-width: 800px) {
  .splitFlexContainer {
    flex-direction: row;
  }
}

.no-list-style {
  list-style: none;
  padding-left: 0;
}
