@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primary: #fff8ec;
  --primary-light: #fffdf9;
  --primary-dark: #c8af86;
  --accent: #893c46;
  --accent-dark: #580e18;

  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  overflow-y: scroll;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, Content, Footer */
}

.container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto; /* Header, Content, Footer */
}

header,
footer {
  background-color: var(--primary-dark);
  padding: 1.5em 2em;
  flex: 0 0 auto;
}

header {
  text-align: center;
  position: relative;
  padding-bottom: 2em;
}

footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  background: #c8af86;
  list-style-type: none;
  padding-top: 2em;
}

.content {
  padding: 1.5em 2em;
}

a {
  font-weight: 500;
  color: var(--accent);
  text-decoration: inherit;
}
a:hover {
  color: var(--accent-dark);
}

header a:hover {
  font-weight: bold;
}

.react-photo-gallery--gallery img {
  object-fit: cover;
  /* fill, contain, cover, none, scale-down */
}
